<!-- <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <h1>Product Master</h1>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12 div-border">
                <ol class="breadcrumb float-sm-right div-border">
                    <li class="breadcrumb-item"><a routerLink="/product/productcrud" href>Add Product</a></li> 
                </ol>
            </div>
        </div>
    </div>
</section> -->

<div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>